@import "tailwindcss";

#modal-root {
    position: fixed;   /* Position fixed relative to viewport */
    display: flex;     /* Flexbox centering */
    align-items: center;
    justify-content: center;
    /*background: rgba(0, 0, 0, 0.5); !* optional dark backdrop *!*/
}